// colors
$color-primary: #3B82F6;
$color-border: #313B54;
$color-bg: #121622;
$color-widget-primary: #1E2233;
$color-widget-secondary: #252A3D;
$color-table-row: #232838;
$color-tabs-bg: #0C0F17;
$color-text: #E5E7EB;
$color-text-secondary: #94A3B8;
$color-text-subtext: #8A8C98;
$color-tab-text: #C5C9D3;
$color-input-field: #293245;

$color-green: #3BB979;
$color-purple: #6A3BF6;
$color-yellow: #FDD261;
$color-red: #B93B3B;
$color-blue-secondary: #1E40AF;
$color-white: #FFF;


// fonts
$font-family-title: "Liter", sans-serif;
$font-family-base: "Barlow", sans-serif;
$font-family-special: "Overpass", sans-serif;


$widgets-border-radius: 25px;
$widgets-padding: 20px 23px;