<div class="decreasing-winnability">
  <h4 class="title">
    <svg
      class="title__icon"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15 28.33C22.36 28.33 28.33 22.36 28.33 15C28.33 7.64 22.36 1.67004 15 1.67004C7.64 1.67004 1.67004 7.64 1.67004 15C1.67004 22.36 7.64 28.33 15 28.33Z"
        stroke="#FDD261"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M15 9.67004V20.33M15 20.33L9.67004 15M15 20.33L20.33 15"
        stroke="#FDD261"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>

    Decreasing Winnability
  </h4>
  <div class="values">
    <div class="value-wrapper">
      <div class="number">1</div>
      <div class="bar-wrapper">
        <p class="bar-label">Premium pricing</p>
        <div class="bar-container">
          <div class="bar-filling" [style.width.px]="274"></div>
          <p class="percentage-increase">-24%</p>
        </div>
      </div>
    </div>
    <div class="value-wrapper">
      <div class="number">2</div>
      <div class="bar-wrapper">
        <p class="bar-label">Total exposure</p>
        <div class="bar-container">
          <div class="bar-filling" [style.width.px]="225"></div>
          <p class="percentage-increase">-18%</p>
        </div>
      </div>
    </div>
    <div class="value-wrapper">
      <div class="number">3</div>
      <div class="bar-wrapper">
        <p class="bar-label">Loss ratio trend</p>
        <div class="bar-container">
          <div class="bar-filling" [style.width.px]="182"></div>
          <p class="percentage-increase">-13%</p>
        </div>
      </div>
    </div>
    <div class="value-wrapper">
      <div class="number">4</div>
      <div class="bar-wrapper">
        <p class="bar-label">Market competition</p>
        <div class="bar-container">
          <div class="bar-filling" [style.width.px]="128"></div>
          <p class="percentage-increase">-5%</p>
        </div>
      </div>
    </div>
  </div>
</div>
