<div class="exposure-distribution">
  <div class="exposure-distribution__header">
    <h3 class="exposure-distribution__title">Exposure Distribution</h3>
  </div>
  <div class="exposure-distribution__values">
    <div class="marine-cargo">
      <div class="marine-cargo__bar bar">
        <div class="bar-filling" [style.width.%]="71.4"></div>
      </div>
      <p class="marine-cargo__value value">Marine Cargo: 71.4%</p>
    </div>
    <div class="general-liability">
      <div class="general-liability__bar bar">
        <div class="bar-filling" [style.width.%]="20"></div>
      </div>
      <p class="general-liability__value value">General Liability: 20%</p>
    </div>
    <div class="workers-comp">
      <div class="workers-comp__bar bar">
        <div class="bar-filling" [style.width.%]="8.6"></div>
      </div>
      <p class="workers-comp__value value">Workers Comp: 8.6%</p>
    </div>
  </div>
</div>