@use "variables" as vars;
@use "mixins" as mix;
@use "buttons" as btn;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.account-details{
  @include mix.flex-container(row);
  height: max-content;
  border: 1px solid vars.$color-border;
  border-radius: vars.$widgets-border-radius;
  background-color: vars.$color-widget-primary;

  padding: vars.$widgets-padding;
  padding-bottom: 40px;
}

.sidebar-tablist{
  padding-right: 20px;
  width: 345px;
}

.dropdown{
  @include mix.flex-container(column);
  padding-left: 20px;
  padding-block: 20px;
  font-size: 18px;
  row-gap: 30px;

  button.active{
    color: vars.$color-primary;
  }
  
}

.tab-group{
  padding: 10px 25px;
  border-radius: 9px;

  &.open{
    background-color: vars.$color-widget-secondary;
  }
  &__button{
    @include mix.flex-container(row, flex-start, center);
    font-size: 22px;
    width: 100%;
  }

  &__button-text{
    width: 80%;
  }
}

.number-of-tabs{
  @include mix.flex-container(column, center, center);
  width: 34px;
  height: 40px;
  border: none;
  background-color: vars.$color-widget-secondary;
  border-radius: 9px;
  font-size: 24px;
  margin-bottom: 3px;
  margin-left: auto;

  &.with-border {
    border: 1px solid vars.$color-text;
  }
}

.tab-content{
  padding: 5px 25px;
  padding-right: 35px;
}

.winnability{
  @include mix.flex-container(column);
  row-gap: 30px;
  
  &__title{
    font-size: 48px;
  }

  &__grid-container{
    display: grid;
    grid-template-columns: 360px 355px 455px;
    grid-template-rows: 150px 385px 300px;
    column-gap: 10px;
    row-gap: 20px;

    .overall-score{
      grid-column: 1;
    }

    .historical-trend{
      grid-column: 2;
    }

    .position{
      grid-column: 3;
    }

    .winnability-row{
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }

    .ai-powered-recommendations{
      grid-column: 1 / -1;
    }
  }
}
