<div class="account-status">
  <div class="line">
    <svg
      class="dotted-line"
      width="109"
      height="1"
      viewBox="0 0 109 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.5 0.5H108.5"
        stroke="#3BB979"
        stroke-linecap="round"
        stroke-dasharray="4 4"
      />
    </svg>
    <svg
      class="dotted-line"
      width="109"
      height="1"
      viewBox="0 0 109 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.5 0.5H108.5"
        stroke="#3BB979"
        stroke-linecap="round"
        stroke-dasharray="4 4"
      />
    </svg>
    <svg
      class="dotted-line"
      width="109"
      height="1"
      viewBox="0 0 109 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.5 0.5H108.5"
        stroke="#3BB979"
        stroke-linecap="round"
        stroke-dasharray="4 4"
      />
    </svg>
    <svg
      class="dotted-line"
      width="109"
      height="1"
      viewBox="0 0 109 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.5 0.5H108.5"
        stroke="#3BB979"
        stroke-linecap="round"
        stroke-dasharray="4 4"
      />
    </svg>
    <svg
      class="dotted-line"
      width="109"
      height="1"
      viewBox="0 0 109 1"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.5 0.5H108.5"
        stroke="#8A8B98"
        stroke-linecap="round"
        stroke-dasharray="4 4"
      />
    </svg>
  </div>
  <div class="statuses">
    <div class="check-mark-container">
      <svg
        class="check-mark"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 34.67C27.204 34.67 34.666 27.2 34.666 18C34.666 8.8 27.204 1.32996 18 1.32996C8.79502 1.32996 1.33301 8.8 1.33301 18C1.33301 27.2 8.79502 34.67 18 34.67Z"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13 18L16.333 21.33L23 14.67"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <p class="label">Submitted</p>
    </div>
    <div class="check-mark-container">
      <svg
        class="check-mark"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 34.67C27.204 34.67 34.666 27.2 34.666 18C34.666 8.8 27.204 1.32996 18 1.32996C8.79502 1.32996 1.33301 8.8 1.33301 18C1.33301 27.2 8.79502 34.67 18 34.67Z"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13 18L16.333 21.33L23 14.67"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <p class="label">Review</p>
    </div>
    <div class="check-mark-container">
      <svg
        class="check-mark"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 34.67C27.204 34.67 34.666 27.2 34.666 18C34.666 8.8 27.204 1.32996 18 1.32996C8.79502 1.32996 1.33301 8.8 1.33301 18C1.33301 27.2 8.79502 34.67 18 34.67Z"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13 18L16.333 21.33L23 14.67"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <p class="label">Quote</p>
    </div>
    <div class="check-mark-container">
      <svg
        class="check-mark"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 34.67C27.204 34.67 34.666 27.2 34.666 18C34.666 8.8 27.204 1.32996 18 1.32996C8.79502 1.32996 1.33301 8.8 1.33301 18C1.33301 27.2 8.79502 34.67 18 34.67Z"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13 18L16.333 21.33L23 14.67"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <p class="label">Bind</p>
    </div>
    <div class="check-mark-container">
      <svg
        class="check-mark"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 34.67C27.204 34.67 34.666 27.2 34.666 18C34.666 8.8 27.204 1.32996 18 1.32996C8.79502 1.32996 1.33301 8.8 1.33301 18C1.33301 27.2 8.79502 34.67 18 34.67Z"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M13 18L16.333 21.33L23 14.67"
          stroke="#3BB979"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <p class="label">Issue</p>
    </div>
    <div class="check-mark-container">
      <svg
        class="check-mark"
        width="36"
        height="36"
        viewBox="0 0 36 36"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18 34.67C27.2 34.67 34.67 27.2 34.67 18C34.67 8.8 27.2 1.32996 18 1.32996C8.795 1.32996 1.33301 8.8 1.33301 18C1.33301 27.2 8.795 34.67 18 34.67Z"
          stroke="#8A8B98"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-dasharray="4 4"
        />
        <path
          d="M13 18L16.333 21.33L23 14.67"
          stroke="#8A8B98"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <p class="label">Renew</p>
    </div>
  </div>
</div>
